
.main{
	height: 900px;
	background-color: pink;
}
.grey{
	color: grey
}
.input_search{
	background-color: #f5f8fa;
    border-radius: 21px;
    border: 1px solid #e6ecf0;
    color: #14171a;
    font-size: 12px;
    height: 32px;
}

.red{
	background-color: red
}
.blue{
	background-color: cyan
}
.input_middle{
    width: 210px;
    padding: 10px;
    border: 1px solid #e6ecf0;
    background-color: #f5f8fa;
    border-radius: 21px;
    border: 1px solid #e6ecf0;
    color: #14171a;
    font-size: 12px;
    height: 32px;
}
